body {
    background-color: rgb(40, 156, 127);
    background-image:url("La_Palmeraie_de_Marrakech_709-600x398.jpg");
    background-size: cover;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: auto;
}

.header {
    background-color: #8f1d8f;
    color: rgb(8, 1, 1);
    font-size: 36px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem 1rem;
    text-align: center;
    height: max-content;
    width: 100%;
}
.image{
    max-height: 50%;
    max-width :400px;
   

}
.section {
    padding: 0px;
    width: 100%;
    text-align: center;
    
    
}

.section:hover {
    background-color: #2fccd1;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 30px;
    margin: 0px;
    
}

p {
    font-family: 'Arial','Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 30px;
    margin: 3% 15% 0% 15%;
    width: 70%;
    background-color: rgb(162, 69, 165);
    color: rgb(1, 4, 7);
    border:outset rgb(80, 115, 230) 12px;
    
    
}



button, input[type="submit"] {
    background-color: #b3b031;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.pos{
    position: fixed;
    top:  0px;
    height :max-content;
    width: 100%; 
}
li{
    position: relative;
}

li::before{
    content: "";
    height: 5px;
    width: 90%;
    background-color: rgb(165, 27, 27);
    position: absolute;
    bottom: 0;
    left: 5%;
}
